<?php

declare(strict_types=1);

/*
 * Form3PublicAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace Form3PublicAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use Form3PublicAPILib\Exceptions\ApiErrorException;
use Form3PublicAPILib\Exceptions\ApiException;
use Form3PublicAPILib\Models\BranchIdentificationListResponse;
use Form3PublicAPILib\Models\BranchIdentificationRequest;
use Form3PublicAPILib\Models\BranchIdentificationResponse;

class BranchIdentificationController extends BaseController
{
    /**
     * List Branch Identifications by Branch
     *
     * @param string $branchId Branch Id to which this identification relates to
     * @param string|null $pageNumber Which page to select
     * @param int|null $pageSize Number of items to select
     * @param string[]|null $filterOrganisationId Filter by organisation id
     * @param string[]|null $filterSecondaryIdentification Filter to only include branch
     *        identifications with specified secondary_identification
     *
     * @return BranchIdentificationListResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function listBranchIdentificationsByBranch(
        string $branchId,
        ?string $pageNumber = null,
        ?int $pageSize = null,
        ?array $filterOrganisationId = null,
        ?array $filterSecondaryIdentification = null
    ): BranchIdentificationListResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/organisation/branches/{branch_id}/identifications'
        )
            ->auth('OAuth2')
            ->parameters(
                TemplateParam::init('branch_id', $branchId),
                QueryParam::init('page[number]', $pageNumber),
                QueryParam::init('page[size]', $pageSize),
                QueryParam::init('filter[organisation_id]', $filterOrganisationId),
                QueryParam::init('filter[secondary_identification]', $filterSecondaryIdentification)
            );

        $_resHandler = $this->responseHandler()->type(BranchIdentificationListResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create an identification for an existing Branch
     *
     * @param string $branchId Branch Id to which this identification relates to
     * @param BranchIdentificationRequest|null $branchIdentificationCreationRequest
     *
     * @return BranchIdentificationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createAnIdentificationForAnExistingBranch(
        string $branchId,
        ?BranchIdentificationRequest $branchIdentificationCreationRequest = null
    ): BranchIdentificationResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/organisation/branches/{branch_id}/identifications'
        )
            ->auth('OAuth2')
            ->parameters(
                TemplateParam::init('branch_id', $branchId),
                HeaderParam::init('Content-Type', 'application/vnd.api+json'),
                BodyParam::init($branchIdentificationCreationRequest)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Branch Identification creation error, constraint violation of secondary identification',
                    ApiErrorException::class
                )
            )
            ->type(BranchIdentificationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Delete branch identification
     *
     * @param string $branchId Branch Id
     * @param string $identificationId Branch Identification Id
     * @param int $version Version
     *
     * @return void Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function deleteBranchIdentification(string $branchId, string $identificationId, int $version): void
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/organisation/branches/{branch_id}/identifications/{identification_id}'
        )
            ->auth('OAuth2')
            ->parameters(
                TemplateParam::init('branch_id', $branchId),
                TemplateParam::init('identification_id', $identificationId),
                QueryParam::init('version', $version)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('404', ErrorType::init('Branch Identification not found'));

        $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a branch identification by id
     *
     * @param string $branchId Branch Id
     * @param string $identificationId Branch Identification Id
     *
     * @return BranchIdentificationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getABranchIdentificationById(
        string $branchId,
        string $identificationId
    ): BranchIdentificationResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/organisation/branches/{branch_id}/identifications/{identification_id}'
        )
            ->auth('OAuth2')
            ->parameters(
                TemplateParam::init('branch_id', $branchId),
                TemplateParam::init('identification_id', $identificationId),
                HeaderParam::init('Content-Type', 'application/vnd.api+json')
            );

        $_resHandler = $this->responseHandler()->type(BranchIdentificationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Amend Branch Identification
     *
     * @param string $branchId Branch Id
     * @param string $identificationId Branch Identification Id; Must match id in the payload
     * @param BranchIdentificationRequest|null $branchIdentificationAmendRequest
     *
     * @return BranchIdentificationResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function amendBranchIdentification(
        string $branchId,
        string $identificationId,
        ?BranchIdentificationRequest $branchIdentificationAmendRequest = null
    ): BranchIdentificationResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/organisation/branches/{branch_id}/identifications/{identification_id}'
        )
            ->auth('OAuth2')
            ->parameters(
                TemplateParam::init('branch_id', $branchId),
                TemplateParam::init('identification_id', $identificationId),
                HeaderParam::init('Content-Type', 'application/vnd.api+json'),
                BodyParam::init($branchIdentificationAmendRequest)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '409',
                ErrorType::init(
                    'Branch Identification update error, constraint violation of secondary identification',
                    ApiErrorException::class
                )
            )
            ->type(BranchIdentificationResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
