<?php

declare(strict_types=1);

/*
 * Form3PublicAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace Form3PublicAPILib\Controllers;

use Core\Request\Parameters\FormParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use Form3PublicAPILib\Exceptions\ApiException;
use Form3PublicAPILib\Models\Token;

class Oauth2Controller extends BaseController
{
    /**
     * Request Access Token
     *
     * @return Token Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function requestAccessToken(): Token
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/oauth2/token')
            ->auth('Basic')
            ->parameters(
                FormParam::init('grant_type', 'client_credentials'),
                HeaderParam::init('Content-Type', 'application/x-www-form-urlencoded')
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('403', ErrorType::init('Authentication failed'))
            ->type(Token::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
